<footer id="footer">
	<div style="margin-right: 1.5cm">
	  <p class="pull-right"><a href="#TOP" class = "mybutton" style="color: #FFFFFF">Back to top</a></p>
	</div>
	<div style="margin-left: 0.5cm">
	  <p>
	    ACL Book Club, &copy; 2013 by <b>Wei Lu</b>  
	  </p> Contact <a href="mailto:wei_lu@acl.com" class="listitem" style="color: #0088cc;text-decoration: underline">wei_lu@acl.com</a>
  </div>
</footer>