<footer id="footer">
  <p class="pull-right"><a href="#TOP" class="listitem">Back to top</a></p>
  <p>
    Wei's Book Club, &copy; 2013.
  </p>        

  By <b>Wei Lu</b>. Contact <a href="mailto:wei_lu@acl.com" class="listitem">wei_lu@.com</a>
 

</footer>