<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user, :class => "mybutton", :style=> "color: #FFFFFF" %> &nbsp;
<%= link_to 'Back', users_path, :class => "mybutton", :style=> "color: #FFFFFF" %>
