<br/>
<h1>Editing book</h1>

<%= render 'form' %>

<%= link_to 'Show', @book, :class => "mybutton", :style=> "color: #FFFFFF"  %>
<%= link_to 'Back', books_path, :class => "mybutton", :style=> "color: #FFFFFF" %>
