<p id="notice"><%= notice %></p>
<br />
<%= render 'search' %>

<br />
<h1>Listing books</h1>

<%= render 'list_books' %>

<br />

<% if @is_current_user_admin  %>    
  <%= link_to 'New Book', new_book_path, :class => "mybutton", :style=> "color: #FFFFFF" %>
<% end %>
