.mybutton
{
	background-color: #0044FF;
	color: #FFFFFF;
	border-radius: 3px;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

a:visited
{
	color: #FFFFFF;
}

a:link
{
	color: #FFFFFF;
}

.listitem, a.listitem
{
	color: #000000;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

